.result-div{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    width: 500px;
    height: 350px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.score-div{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 32px;
}
.pass-fail-div{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass-fail-txt{
    width: 110px;
    height: 50px;
    border-radius: 4px;
    background: rgb(123, 3, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
}
.txt-for-lice{
    font-size: 20px;
}